<% layout('layout/mainlayout') %>
<h2>about euni messenger</h2>
<p>euni messenger is a lightweight, fast, and secure real-time chat application built for modern communication. developed by destiny.</p>
