<p>Connect with friends instantly. Start chatting now.</p>
<div class="chat-box" id="chatbox"></div>

<div>
  <input type="text" id="messageinput" placeholder="Type a message..." />
  <button id="sendbutton">Send</button>
</div>

<script src="/js/clientsidefunctions.js"></script>
